<div class = "body">
    
    <div class = "afiliado">

        <div class = "container" style = "height:100px"> </div>

        <div class = "container" id = "tabla" style = "background-color: white; padding-top: 50px; padding-bottom:50px">

            <div class = "row">

                <div class = "col-lg-4"> <h1> Encuestas </h1> </div>
                
                <div class = "col-lg-8"> </div>

            </div> <hr/> <br/> 

            <div class = "table-responsive">

                <table class = "table">
                
                    <thead style = "background-color: #0f69b4;color:white;">
                    
                        <tr>
                            <th scope = "col"> N° </th>

                            <th scope = "col"> Bebida </th>

                            <th scope = "col"> Mail </th>
                        </tr>

                    </thead>
                    
                    <tbody>

                        <tr  [class] = "i % 2 == 0 ? 'rowEven' : 'rowOdd'" *ngFor = "let registro of formularios; let i = index">

                            <td> {{i +1}} </td>

                            <td> {{registro.bebida}} </td>
                            
                            <td> {{registro.mail}} </td>
                        
                        </tr>
                    
                    </tbody>
                
                </table> <br/>
       
            </div>

        </div>
                
        <div class = "container" style = "height:100px"> </div>
    
    </div>

</div>