#tabla {    
    border-color: lightgrey; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 5px;
}

.rowEven:hover, .rowOdd:hover
{
    background-color: rgb(199, 199, 199);
}

.rowEven {
    background-color: rgb(228, 228, 228);
}

.rowOdd {
    background-color: rgb(238, 238, 238);
}

.my-pagination .ngx-pagination .current {
    background: red;
}

.mat-input {
    font-size: 18px;
    width: 80%;
}