<mat-toolbar color = "primary" class = "app-header">
    
    <div> 

        <a class = "opcionMenu" routerLink = "/formulario"> <i class = "fa fa-pen"></i> Realizar Encuesta </a> 
    
        <a class = "opcionMenu" routerLink = "/registro-formulario"> <i class = "fa fa-list"> </i> Registro de Encuestas </a>
        
    </div>

</mat-toolbar> 

<router-outlet> </router-outlet>