<div class = "body">
    
    <div class ="container" style = "height:100px"> </div>

    <div class = "container principal" style = "background-color: white; padding-top: 50px; padding-bottom:50px">
        
        <div class = "alert alert-danger alert-dismissible fade show" role = "alert" *ngIf = "mensaje">
            
            <strong> Error! </strong> {{mensajeError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> 
          </div>

        <div class = "row">
 
            <div class = "col-lg-8"> <h1> Bienvenido/a al Sistema de Encuestas </h1> </div>
            
            <div class = "col-lg-4"> </div>

        </div> <br/> 

        <div class = "row">

            <div class = "col-lg-12"> <p> Utilice el menú para acceder a las funcionalidades de la aplicación.</p> </div>

        </div>
    
    </div>

</div>