.body
{
    height:80%;
    /*background-image: url("src/assets/img/3132.jpg");*/
}

.principal
{
    background-color: white; 
    padding-top: 50px; 
    border-color: lightgrey; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 5px;
}