<div class = "body">
    
    <div class ="container" style = "height:100px"> </div>
  
    <div class = "container principal">
        
        <h1 mat-dialog-title> Encuesta </h1> <br/>

        <mat-dialog-content>
            
            <form #formularioForm = ngForm >
            
                <p>
                    <mat-form-field appearance = "outline" class = "mat-input">
                        
                        <mat-label> Correo </mat-label>
                        
                        <input name = "mail" [(ngModel)] = "formulario.mail" #mail = "ngModel"  matInput 
                        placeholder = "Ingrese su correo" type = "email" required> 
                        
                    </mat-form-field> 
                </p>
                
                <div *ngIf = "mail.errors && mail.touched" class = "alert alert-danger">

                    <div *ngIf = "mail.errors.required"> Ingrese su correo. </div>

                </div>  
                
                <p>
                    <mat-form-field appearance = "outline" class = "mat-input">
                        
                        <mat-label> Bebidas </mat-label>
                        
                        <mat-select name = "bebida" [(ngModel)] = "formulario.bebida" #bebida = "ngModel" required>
            
                            <mat-option *ngFor = "let bebida of tiposBebidas" value = "{{bebida}}">
                                
                                {{bebida}} 
            
                            </mat-option>
            
                        </mat-select> 
                        

                    </mat-form-field>
                    
                </p>
           
                <div *ngIf = "bebida.errors && bebida.touched" class = "alert alert-danger">

                    <div *ngIf = "bebida.errors.required"> Seleccione bebida preferida. </div>

                </div>
            </form>

        </mat-dialog-content>

        <mat-dialog-actions>

            <button [disabled] = "formularioForm.invalid" mat-button class = "mat-raised-button btn-success" (click) = "guardar(formularioForm)"> 
                <i class = "fa fa-check"> </i> Enviar
            </button>
            
        </mat-dialog-actions> <br/> <br/>

    </div>

    <div class = "container" style = "height:100px"> </div>

  </div>