.rowEven:hover, .rowOdd:hover
{
    background-color: rgb(199, 199, 199);
}

.rowEven {
    background-color: rgb(228, 228, 228);
}

.rowOdd {
    background-color: rgb(238, 238, 238);
}

.principal
{
    background-color: white; 
    padding-top: 50px; 
    border-color: lightgrey; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 5px;
    width: 50%;
}

.line {
    height: 75px
}

.mat-input {
    font-size: 18px;
    width: 90%;
}  